<div class="header">
  <div class="title">
    <h1>Bisho   Company</h1>
    <p>美翔カンパニー</p>
  </div>
</div>
<div class="container">
  <div class="link">
    <ul class="icon">
      <li class="button">
        <%= link_to "#" do %>
          <span class="fab fa-twitter fa-3x" hovercolor="#0066ff"></span>
        <% end %>
      </li>
      <li class="button">
        <%= link_to "#" do %>
          <span class="fab fa-facebook-square fa-3x" hovercolor="#0000ff"></span>
        <% end %>
      </li>
      <li class="button">
        <%= link_to "#" do %>
          <span class="fab fa-line fa-3x" hovercolor="#009900"></span>
        <% end %>
      </li>
      <li class="button">
        <%= link_to "https://www.instagram.com/ki.mi630" do %>
          <span class="fab fa-instagram fa-3x" hovercolor="#ffccff"></span>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="shopping-icon">
    <%= link_to "#" do %>
      <span class="fas fa-shopping-cart fa-5x"></span>
    <% end %>
  </div>
  <div class="content">
  <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide1">
        </div>
        <div class="swiper-slide slide2">
        </div>
        <div class="swiper-slide slide3">
        </div>
        <div class="swiper-slide slide4">
        </div>
      </div>
      <%# <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> %>
      <div class="swiper-pagination"></div>
    </div>
    <div class="categorys">
      <h2>カテゴリー</h2>
      <div class="category">
        <div class="general-merchandise">
          <h3>雑貨</h3>
          <ul>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
          </ul>
        </div>
        <div class="accessories">
          <h3>アクセサリー</h3>
          <ul>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
          </ul>
        </div>
        <div class="cosmetic">
          <h3>化粧品</h3>
          <ul>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
            <li>-----</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <h2>お問い合わせ</h2>
      <div class="inquiry">
        <p class="address">住所</p>
        <p class="phone">電話番号</p>
        <p class="email">email</p>
      </div>
    </div>
  </div>
</div>
